/nbproject/*
*~
/junar/.DS_Store
/WEB/
/junar/application/cache/*
!/junar/application/cache/index.html
!/junar/application/cache/.htaccess

/junar/application/logs/*
!/junar/application/logs/index.html
!/junar/application/logs/.htaccess

/junar/application/config/database.php
